body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #ff6347;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
}

header a {
    color: #ff6347;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #1f1f1f;
    border-radius: 15px;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

section h2 {
    margin-top: 0;
    color: #ff6347;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #ff6347;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #ff6347;
}

footer p {
    margin: 0;
}
